.form-input {
  min-width: 200px;
  max-width: 25%;
  margin: auto;
}

#startQuizButton {
  display: block;
  margin: auto;
}

.question-card {
  display: none;
  margin: auto;
  max-width: 60%;
  font-family: 'Anton', sans-serif;
}

.display-result {
  display: none;
}

.answer-button {
  margin: 5px;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

.results-button {
  width: 200px;
  display: block;
  margin: auto;
}

.language-card {
  margin: auto;
  height: 100%;
  font-family: 'Anton', sans-serif;
}
.page-background {
  background-image: url('../img/code-background.jpg');
  height: 100vh;
}

.light-text-outlined {
  color: lightgray;
  text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black;
}