.form-input {
  min-width: 200px;
  max-width: 25%;
  margin: auto;
}

#startQuizButton {
  display: block;
  margin: auto;
}

.question-card {
  display: none;
  margin: auto;
  max-width: 60%;
  font-family: 'Anton', sans-serif;
}

.display-result {
  display: none;
}

.answer-button {
  margin: 5px;
  font-family: 'Roboto', sans-serif;
}

.results-button {
  width: 200px;
  display: block;
  margin: auto;
}

.language-card {
  margin: auto;
  max-width: 60%;
  padding: 5%;
  font-family: 'Anton', sans-serif;
}